$font-size-base: 1rem;
$font-family-sans-serif: Roboto, sans-serif;

$dark-transparent-background: #0004;

$font-challenge-color: #FFF;
$standard-border-radius: 0.5rem;

$challenge-color: #ffaa6f;
$challenge-height: 8rem;
$challenge-min-width: 15rem;
$challenge-spacing: 1rem;
$challenge-chain-arrow-depth: 2rem;
$challenge-chain-spacing: 0.1rem;
